<div class="suggestions">
    <div class="title">
        A quién seguir
    </div>
    <div class="sug-wraper">
        <div class="suggestion-profile-picture">
            <img [src]="image1" alt="">
        </div>
        <div class="suggestion-info">
            <span class="sug-user">Pancracio</span>
            <span class="username">@pancracito</span>
                <button>Seguir</button>
        </div>        
    </div>
    <div class="sug-wraper">
        <div class="suggestion-profile-picture">
            <img [src]="image2" alt="">
        </div>
        <div class="suggestion-info">
            <span class="sug-user">Ed Hunter</span>
            <span class="username">@ed_hunter</span>
                <button>Seguir</button>
        </div>        
    </div>
    <div class="sug-wraper">
        <div class="suggestion-profile-picture">
            <img [src]="image3" alt="">
        </div>
        <div class="suggestion-info">
                <span class="sug-user">Soft Kitty</span>
                <span class="username">@warm_kitty</span>
            <button>Seguir</button>
        </div>        
    </div>
</div>
<div class="about-twitter">

</div>