header{
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 1px #66757f 
}

.head-container{
    margin-left: 5%;
    width: 90%;
    height: 46px;      
}

.head-buttons{
    width: 45%;
    float: left;
    font-size: 13px;
    font-weight: bold;
    
}
.head-buttons ul{
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    text-align: left;
}

.head-buttons ul li{
    float: left;
    text-align: center;
    padding: 15px 0;    
}
.head-buttons ul li:hover{
    border-bottom: solid 2px #0084B4;    
}
.head-buttons ul li:hover a{
   color: #0084B4;
}
.head-buttons a{
    text-decoration: none;
    margin-left: 5px;
    color: #66757f;
}
.logo{
    height: 30px;    
    width: 30px;
    float: left;
    background-image: url("../../images/logo.png");
    background-size: contain;
    margin-top: 7px;
} 

.profile-options{
    width: 45%;
    float: right;  
    text-align: right;     
}
.wraper-prof{
    float: right;
    display: inline-flex;
}
.profile-options div input{
    padding: 6px 5px;
    border-radius: 15px;
    height: 18px;
    margin-top: 7px;
    background-color: #f4f8fa;
    border: .5px solid #e5ebf0;    
}
.profile-options div input:focus{
    border: .5px solid #0084B4;
    background-color: #fff;
    color: #66757f
}

.profile-head-options{
    background-image: url("../../images/profile.jpg");
    width: 32px;
    height: 32px;   
    background-size: contain; 
    border-radius: 32px;
    margin: 7px;
}
.tutear button{
    background-color: #0e97c4;
    color: #fff;
    border-radius: 32px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    margin-top: 6px;
    padding: 8px 20px;
}