<header>
  <div class="head-container">
    <div class="head-buttons">
      <ul>
        <li>
          <a href="">Inicio</a>
        </li>
        <li>
          <a href="">Momentos</a>
        </li>
        <li>
          <a href="">Notificaciones</a>
        </li>
        <li>
          <a href="">Mensajes</a>
        </li>
      </ul>
    </div>
    <div class="logo"></div>
    <div class="profile-options">
      <div>
        <input type="text" placeholder="Buscar en twitter">
      </div>
      <div class="profile-head-options"></div>
      <div class=""></div>
    </div>
  </div>
</header>