app-profile-side{
    float: left; 
    width:  288px;   
}
app-news-space{
    float:left;   
    width: 588px; 
    margin-left: 10px;
}
app-right-side{
    float: left;  
    width: 268px; 
    margin-left: 10px;
}
.body-wrapper{
    width: 1184px;
    margin: 0 auto;
    height: 100%;
    padding: 10px;
}

@media screen and (max-width: 1200px){
    app-right-side{
        display: none;
    }
    .body-wrapper{
        width: 896px;    
    }
}
@media screen and (max-width: 920px){
    app-profile-side{
        display: none;
    }
    .body-wrapper{
        width: 588px
    }
}