.profile-side-container{
    width: 100%
}

.cover{
    background-image: url("../../images/profile.jpg");
    background-size: 100%;
    background-position: 0 50%;
    width: 100%;
    height: 95px;
}

.profile-side-info, .profile-side-trends{
    background-color: #fff;
    border: 1px solid #e6ecf0
}
.profile-info a{
    vertical-align: bottom;
   
}

.profile-info a img{
    margin: -30px 0 0 7px;
    float: left;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.user-profile{
    float: left;
    position: relative;    
    width: 200px;
    padding-top: 10px
}

.profile-image-wrap{
    height: 40px;
}
.user-profile .name{
    font-weight: bold;
    font-size: 18px;
}
.user-profile .username{
    font-size: 14px;
    color: #657786;

}
.profile-general-stats{
    width: 288px;
    
}
.profile-general-stats ul{
    list-style: none;
    padding: 10px 10px;

}
.profile-general-stats ul li{
   display: table-cell;
   font-weight: bold;   
}

.subtitle{
    color: #657786;
    font-size: 12px;
    
}
.stat{
    color: #0084B4;
    font-size: 18px;
}

.profile-side-trends{
    margin-top: 10px;
}

.trends-container{
    padding: 15px 10px;
}

.trends-title{
    font-weight: bold;
    font-size: 18px;
}

.trends-body ul{
    list-style: none;
    padding: 0;
}

.trends-body ul li{
    color: #0084B4;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 10px;
}

.trends-body ul li span:nth-child(2){
    color: #657786;
    font-size: 12px;
    font-weight: lighter;
    display: table-cell
}
