<div class="profile-side-container">
    <div class="profile-side-info">
        <a href="cover"><img src="" alt=""></a>
        <div class="profile-info">
            <a href="#"><img src="../../images/profile.png" alt=""></a>
            <div class="user-profile">
                <span class="name">Fabián Mendoza</span>
                <span class="usernmae">@fabianskymc</span>
            </div>
            <div class="profile-general-stats">
                <ul>
                    <li>
                        <span class="subtitle">Trinos</span>
                        <span class="stat">199</span>
                    </li>
                    <li>
                        <span class="subtitle">Siguiendo</span>
                        <span class="stat">1024</span>
                    </li>
                    <li>
                        <span class="subtitle">Seguidores</span>
                        <span class="stat">666</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="profile-side-trends">
        
    </div>
</div>