<div class="profile-side-container">
    <div class="profile-side-info">
        <p class="cover">
            <a href="#">
                <img [src]="cover" alt="">
            </a>
        </p>
        <div class="profile-info">
            <div class="profile-image-wrap">
                <a href="#">
                    <img [src]="profile" alt="">
                </a>
                <div class="user-profile">
                    <a class="name">Fabián Mendoza</a>
                    <a class="username">@fabianskymc</a>
                </div>
            </div>
            <div class="profile-general-stats">
                <ul>
                    <li>
                        <span class="subtitle">Trinos</span>
                        <span class="stat">199</span>
                    </li>
                    <li>
                        <span class="subtitle">Siguiendo</span>
                        <span class="stat">1024</span>
                    </li>
                    <li>
                        <span class="subtitle">Seguidores</span>
                        <span class="stat">666</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="profile-side-trends">
        <div class="trends-container">
            <div class="trends-title">
                <span>
                    Tendencias para ti
                </span>
            </div>
            <div class="trends-body">
                <ul>
                    <li>
                        <span>JavaScript</span>
                        <span>2K tweets</span>
                    </li>
                    <li>
                        <span>NodeJS</span>
                        <span>15 tweets</span>
                    </li>
                    <li>CSS3</li>
                    <li>Knex</li>
                    <li>
                        <span>#FullMetalAlchemist</span>
                        <span> @marcuscanicas y 10 más están tuteando sobre esto</span>
                    </li>
                    <li>#Elecciones2018</li>
                    <li>#MiMamaMeMima</li>
                    <li>:)</li>

                </ul>
            </div>
        </div>
    </div>
</div>